.hero {
    background-color: azure;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: 'Creative Blog Site';
    font-size: 50px;
    font-weight: bold;
}

.hero::after {
    content: 'Awesome Blogs';
    font-size: 25px;
    display: block;
}