.product_container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}

.product_card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-basis: 26%;
    border: 1px solid black;
}